/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Nunito&display=swap');
:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1200px;

  --color-primary: #f0f0f8;

  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Domine', Georgia, serif;
}

/* Leturgerðir */

/* TODO Setja upp leturgerðir */

/* Almennt */

body {
  color: var(--color-text);
  font-size: var(--font-base-body-px);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
  margin-bottom: var(--spacing);
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.5em;
  text-decoration: none;
  color: var(--color-text);
  border-radius: 5%;

  /* TODO útlit á button */
}

.button-secondary {
  /* TODO */
  background-color: #fff;
}

/* Layout */

main {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

.info-boxes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image:url("./myndir/header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin-bottom: var(--spacing);
  
  color: var(--color-header);
  padding: var(--spacing);
  gap: var(--spacing);
}

/* TODO */

/* Upplýsingasvæði */

.info {
  display: flex;
  max-height: 25em;
  margin-bottom: 1em;
  gap: 20em;

}

.reverse {
  flex-direction: row-reverse;
}

.big-info {
  max-width:500px;
}

/* Myndir */

.big-img {
  max-width: 500px;
}

.left-rotate {
  transform: rotate(-3deg);
}

.right-rotate{
  transform: rotate(3deg);
}

/*            */


/* TODO */

/* Cards */

.card-row {
  display: flex;
  max-width: 80%;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
  align-self: center;
}

.small-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing);
}

.card  {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  justify-content: flex-end;
  border-radius: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-between;
  height: 100%;
  border: 1px solid black;
  padding: var(--spacing);


}

footer {
  display:flex;
  justify-content: center;
  padding: var(--spacing);
  background-color: var(--color-primary);
}


.protection {
}

.header-title {
  font-size: 3em;
  font-weight: 600;
}
/* TODO */
