//* Ath. Það er hægt að skipta þessari skrá í nokkrar minni skrár
//* en þar sem þetta er aðeins ein síða finnst mér þægilegra
//* að hafa eitt sheet fyrir hana

/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */

  /* Grunn bilið okkar er 1rem == 16px */
  $spacing: 1rem;
  /* Hámarksbreidd á efni */
  $max-width: 1400px;

  $color-primary: #f0f0f8;

  $color-header: #fff;
  $color-text: #000;
  $color-border: #ccc;

  /* Letur stillingar */
  $font-base-body-px: 16px;
  $font-base-size: 1rem;
  $font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
  $font-family-heading: 'Domine', Georgia, serif;

  /* Grid stillingar */
  $columns: 12;
  $gutter: 30px;
  $offset: 20px;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  $vertical-space: calc($gutter);

/* Leturgerðir */

@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/domine.ttf) format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/nunito.ttf) format('woff');
}

/* Almennt */

body {
  color: $color-text;
  font-size: $font-base-body-px;
  line-height: 1.5;
  font-family: $font-family-base;
}

h1, h2, h3 {
  font-family: $font-family-heading;
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;

  border: 1px solid $color-border;
  border-radius: 5px;
  padding: calc($spacing / 2) calc($spacing);

  font-family: $font-family-base;
  text-decoration: none;

  color: $color-text;
  background-color: $color-primary;
}

.button-secondary {
  border: none;
  color: inherit;
  background-color: transparent;
}

/* Layout */

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  gap: $vertical-space;
  margin: $vertical-space auto;

  width: calc(100% - (2 * $offset));
  max-width: $max-width;
}

.info-boxes {
  width: 100%;

  display: grid;
  grid-template-rows: auto;
  gap: $vertical-space;
}

@media (min-width: 600px) {
  $vertical-space: calc($gutter * 2);

  .info-boxes {
    width: 100%;

    display: grid;
    grid-template-rows: auto;
    gap: $gutter;
  }

  .info {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: auto;
    gap: $gutter;

    .content {
      grid-column: 1 / span 6;
    }
  
    .image {
      grid-column: 7 / span 6;
    }
  }

  .info-right {
    .content {
      grid-column: 7 / span 6;
    }
  
    .image {
      grid-column: 1 / span 6;
    }

  }
}

@media (min-width: 1000px) {
  .info {
    .content {
      grid-column: 2 / span 4;
    }
  
    .image {
      grid-column: 7 / span 6;
    }
  }

  .info-right {
    .content {
      grid-column: 8 / span 4;
    }
  
    .image {
      grid-column: 1 / span 6;
    }

  }
}

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: #ffffff;

  background-color: skyblue;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-image: url(../myndir/header.jpg);


  .content {
    position: relative;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
    gap: calc($spacing * 2);
  
    margin: auto;
    width: calc(100% - (2 * $offset));
  
    font-family: $font-family-heading;
    font-size: calc($font-base-size * 1.5);
    text-align: center;
  
  
    
  }
  
  h1 {
    font-size: 4rem;
  }
  
  span {
    font-size: 2rem;
  }
  
  .protection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  
    background-color: rgba(0, 0, 0, 0.2);
  }
}



/* Info blokk */

.info {
  .content {
    margin: auto;
  }
  
  .content p {
    margin-bottom: calc($spacing * 2);
  }
  
  .kicker {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .image {
    display: flex;
  }
  
  .image img {
    margin: auto;
    transform: rotateZ(2deg);
  }
}


.info-right {
  .image img {
    transform: rotateZ(-2deg);
  }
  
  .content {
    order: 2;
  }

}




/* Examples */

.examples h2 {
  margin-bottom: $spacing;
}

/* Cards */
.cards {
  display: grid;
  grid-template-rows: auto;
  gap: $gutter;
}


@media (min-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
  }

  .card {
    grid-column: span 6;
  }

}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;

  .image {
    order: -1;
    height: 300px;
  }
  
  .image img {
    object-fit: cover;
    object-position: 50% 50%;
  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
    width: 100%;
    height: 300px;
  }
  
  .content {  
    flex: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing;
  
    padding: 0.5rem;
    border: 1px solid #999999;
    border-top: 0;
  }
  
  .content > p {
    flex: 1;
  }

}


footer {
  padding: $spacing;
  color: $color-text;
  background-color: $color-primary;
  text-align: center;
}
